body {
  margin: 0;
  font-family: Verdana, Geneva, sans-serif;
  background: #edfaf7;
}

#bg-canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.app-container {
  width: 100%;
  padding: 20px 10px;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left, .header-right {
  display: flex;
  align-items: center;
}

.logo {
  height: 60px;
  margin-right: 10px;
}

.ncc-text span {
  font-weight: bold;
  font-size: 18px;
}

.ncc-red { color: red; }
.ncc-sky { color: skyblue; }
.ncc-blue { color: blue; }

.header-title {
  font-size: 28px;
  color: navy;
  font-weight: bold;
  text-align: center;
  flex: 1;
}

.header-line {
  height: 4px;
  background-color: #0D47A1;
  margin: 10px 0 30px 0;
}

.analyze-section {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.analyze-section input[type="file"] {
  padding: 8px 12px;
  font-size: 16px;
}

.analyze-section button {
  padding: 10px 20px;
  background-color: #0D47A1;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.analyze-section button:disabled {
  background-color: #90CAF9;
  cursor: not-allowed;
}

.centered{
  text-align: center;
}

.checkbox-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  justify-items: start;
  max-width: 700px;
  margin: 0 auto 40px auto;
}

.checkbox-label {
  font-size: 16px;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  flex-direction: column;
}

.loading-box p {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}

.progress-bar {
  width: 300px;
  height: 20px;
  border: 1px solid #0D47A1;
  border-radius: 10px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background-color: #0D47A1;
  width: 0%;
  transition: width 0.3s ease;
}

.results-section {
  display: flex;
  gap: 30px;
  margin-top: 40px;
}

.visual-feedback, .analysis-report {
  flex: 0.5;
}

.visual-feedback img {
  width: 100%;  
  max-height: 300px;  /* limit height */
  object-fit: contain; /* maintain aspect ratio */
  border-radius: 8px;
}

.analysis-report pre {
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 8px;
  white-space: pre-wrap;
}
